# Rust
/target/
userspace/target/
userspace-target/
Cargo.lock


# Binaries
/.vscode
/.claude
/esp
/bootloader-target
/kernel-target

#no_need
*.md
*.log
kernel-security-audit-fix.skill
kernel-security-audit.skill
kernel-next-phase.skill
core

!README.md
!README_zh.md
!roadmap.md
!roadmap-enterprise.md
