# Rust
/target/
userspace/target/
userspace-target/
Cargo.lock


# Binaries
/.vscode
/.claude
/scripts
/esp
/bootloader-target
/kernel-target
/clippy-target
/clippy-kernel-target
/clippy-bootloader-target
/clippy-boot-target
/clippy-userspace-target
userspace/clippy-userspace-target

#no_need
*.md
*.txt
*.log
*.skill
core

!README.md
!README_zh.md
!CONTRIBUTING.md
!roadmap.md
!roadmap-enterprise.md
