# Rust
/target/
userspace/target/
userspace-target/
Cargo.lock


# Binaries
/.vscode
/.claude
/scripts
/esp
/bootloader-target
/kernel-target

#no_need
*.md
*.txt
*.log
*.skill
core

!README.md
!README_zh.md
!roadmap.md
!roadmap-enterprise.md
